@model IEnumerable<EmployeeView>
@{
    ViewBag.Title = "Список сотрудников";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <hr>
    <table border="1">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Очество</td>
            <td>Возвраст</td>
            <td>Карточка сотрудника</td>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.SurName</td>
            <td>@item.Patronymic</td>
            <td>@item.Age</td>
            <td>@Html.ActionLink("Детали", "Details", new { id = item.Id })</td>
        </tr>
        }
    </table>
</body>
</html>

